
  <header>
    <div class="container">
      <a href="#" class="logo">
        <img src="assets/images/logo prologic.png" alt="prologic">
      </a>
      
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="container">
        <img src="assets/images/pro.jpg" alt=" prologic" class="hero-image">
        <div class="hero-content">
          <h1>prologic</h1>
          <h2>Votre stage chez nous !</h2>
          <p>Vous pouvez maintenant télécharger  le PFE BOOK et remplir notre formulaire. </p>
          <div class="cta-buttons">
            <a href="stagiaires/offresdestages" class="btn">Postuler</a>
            <a href="###" class="btn">Télécharger PFE BOOK</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 PROLOGIC </p>
    </div>
  </footer>
