<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Hebergement d'attestation</h6>
        </div>
        <div class="card-body">
        
                <div class="container">
                    
                
                        <div class="container">
                            <div class="form-group">
                                <label for="dropdown">Choisir un stagiaire</label>
                                <select id="dropdown" class="dropdown">
                                    <option value="option1">Stagiaire 1</option>
                                    <option value="option2">Stagiaire 2</option>
                                    <option value="option3">Stagiaire 3</option>
                                </select>
                            </div>
                            <button id="btn" class="btn">Heberger Attestation</button>
                        </div>
                    
                  
                    
          
            
        </div>
    </div>

</div>