<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">historiquesde PFE</h6>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sujet </th>
                            <th>Encadrant</th>
                            <th>Stagiaires</th>
                            
                            <th>Durée</th>
                            <th>Rapport</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr *ngFor="let item ">
                            <td>{{item.Sujet}}</td>
                            <td>{{item.Encadrant}}</td>
                            <td>{{item.Stagiaires}}</td>
                            <td>{{item.Dure}}</td>

                            <td>
                                <button class="btn btn-primary"> Rapport</button>
                               
                            </td>
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>