.top-bar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo a {
    color: #333;
    text-decoration: none;
  }
  
  .main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .main-nav a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .main-nav a:hover {
    background-color: #eee;
  }
  
  
  .user-profile {
    position: relative;
  }
  
  .user-profile a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .user-profile i {
    margin-right: 5px;
  }
  Oumaima Ayari
/* Style pour le titre du tableau */
.card-header h6 {
  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
}

/* Style pour le bouton "ajouter" */
.btn-primary {
  padding: 4px 30px;
  background-color: #1b0366;
  border-color: #1b0366;
}

.table .btn-modifier,
.table .btn-supprimer {
  padding: 8px 16px; /* Ajustement de la taille des boutons */
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour le bouton "modifier" */
.btn-modifier {
  padding: 4px 30px;
  background-color: #28a745;
  border-color: #28a745;
}

/* Style pour le bouton "supprimer" */
.btn-supprimer {
  padding: 4px 30px;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Style pour le tableau */
.table {
  width: 100%; /* Ajustement de la largeur */
  border-collapse: collapse;
}

/* Style pour les cellules du tableau */
.table th,
.table td {
  padding: 8px; /* Ajustement du padding */
  border: 1px solid #dee2e6;
  background-color: #fff; /* Couleur de fond des cellules */
}

/* Style pour les en-têtes de colonne */
.table th {
  background-color: #4e73df;
  color: #fff;
  font-weight: bold;
}


.table-responsive {
  width: 100%; /* Ajustement de la largeur */
  height: 400px; /* Ajustement de la hauteur */
  background-color: #f8f9fa; /* Couleur de fond */
  overflow-y: auto; /* Ajout d'une barre de défilement vertical si nécessaire */
}

/* Style de survol des lignes du tableau */
.table-hover tbody tr:hover {
  background-color: #f2f2f2;
}

/* Centrer le texte dans les cellules */
.table th,
.table td {
  text-align: center;
}