



<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">historiques de stages</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>stagiaires </th>
                            <th>Intitulé</th>
                            <th>durée du stage </th>
                            <th>encadrant</th>
                            <th>rapport</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr *ngFor="let item of allStages">
                            <td>{{item.sujet}}Tiger Nixon</td>
                            <td>{{item.Encadrant}}System Architect</td>
                            <td>{{item.stagiaires}}Edinburgh</td>
                            
                            <td>
                                <button class="btn btn-primary"> rapport</button>
                               
                            </td>
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
  
            </div>
        </div>
    </div>
  
  
  









