<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Hebergement de Rapport</h6>
        </div>
        <div class="card-body">
        
            <div class="container">
                <div class="form-group">
                    <label for="stagiaire">Entrer le nom du stagiaire</label>
                    <input type="text" id="stagiaire" class="form-control" placeholder="Nom du stagiaire">
                </div>
                <button id="btn" class="btn">Imprimer Rapport</button>
            </div>
            
    </div>

</div>