<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">liste de candidatures</h6>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>stagiaire</th>
                            <th>datails</th>
                            
                            <th>status</th>
                            

                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let item of candidatures  ">
                            <td>{{item.stagiaire.email}}</td>
                            
                            <td>
                                <button class="btn btn-details" href="/stagiaires/profile" >Details</button>
                                
                            </td>
                            <td>
                                <button class="btn btn-accepter">Accepter </button>
                                <button class="btn btn-rejeter">Rejeter</button>
                            </td>
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>