<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les Encadrants Inscrits</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Sujet</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr *ngFor="let item ">
                            <td>{{item.Nom}}</td>
                            <td>{{item.Prenom}}</td>
                            <td>{{item.Sujet}}</td>

                            <td>{{item.Telephone}}</td>
                            
                            <td>{{item.Email}}</td>
                            <td>
                                <button class="btn btn-primary">Accepter</button>
                                <button class="btn btn-primary">Supprimer</button>
                            </td>
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
