             <!-- Begin Page Content -->
             <div class="container-fluid">

    
              <header class="top-bar">
                <div class="logo">
                  <a href="#">liste candidatures</a>
                </div>
              
               
              
               
              
                <div class="user-profile">
                  <a href="/admin/allstudents">
                    <i class="fas fa-user"></i>
                    <span>Allstudents</span>
                  </a>
                  <a href="/admin/addstudent">
                    <i class="fas fa-user"></i>
                    <span>addstudent</span>
                  </a>
                 
                  
                </div>
              </header>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Age</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <tr *ngFor="let item of dataArray">
                                        <td>{{item.firstname}}Tiger Nixon</td>
                                        <td>{{item.lastname}}System Architect</td>
                                        <td>{{item.age}}Edinburgh</td>
                                        <td>{{item.phone}}61</td>
                                        <td>{{item.email}}2011/04/25</td>
                                        <td>
                                            <button class="btn btn-primary">Details</button>
                                            <button class="btn btn-primary">Delete</button>
                                        </td>
                                    </tr>
                                  
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>