<div class="container-fluid">

    
                
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">gestion de profile</h6>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Privilège</th>
                            <th>status</th>
                            

                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let item    ">
                            <td>{{item.Nom}}</td>
                            
                            <td>
                                {{item.Prenom}}
                            </td>
                            <td>
                                {{item.Privilege}}
                            </td>

                            <button class="btn btn-primary">modifier </button>
                            <button class="btn btn-primary">supprimer</button>
                        
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>