<div class="container-fluid">

    
                
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Calendrier</h6>
      </div>
      <div class="card-body">
          
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Les Sujet</th>
                          <th>Stagiaires</th>
                          
                          <th>Duree</th>
                          <th>Avancement</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                 
                  <tbody>
                      <tr *ngFor="let item    ">
                        <td>{{item.LesSujet}}</td>
                        <td>{{item.Stagiaires}}</td>
                        <td>{{item.Duree}}</td>
                        <td>{{item.Avancement}}</td>
                        <td>
                            <button class="btn btn-primary"> Modifier</button>
                            <button class="btn btn-primary"> Supprimer</button>

                        </td>
                      </tr>
                    
                    
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>